<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="website icon" type="svg" href="{{url_for('static', filename='img/globe-solid.svg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/dabeb5f8c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>